/* SaleBanner.css */

.sale-banner {
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px 0;
    overflow: hidden;
   position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  